body {
  font-family: "Roboto", sans-serif;
  background-color: black;
}

.weather-app-wrapper {
  max-width: 1200px;
  margin: 30px auto auto auto;
}

.search-location {
  margin: 0 16px;
  width: 100%;
}

.input-search {
  border-radius: 25px;
  border-color: #ff7a52;
}

.cta {
  border-radius: 25px;
  font-size: 14px;
  color: #ff7a52;
}

h3 {
  margin: 0;
}

.header-pretitle {
  color: white;
  opacity: 0.6;
  font-weight: 300;
}

.header-title {
  color: white;
  font-weight: 400;
}

#icon {
  width: 200px;
  height: 200px;
}

h1 {
  color: white;
  font-size: 60px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.description-cont {
  background-color: #1d1d1e;
  border-radius: 50px;
}

#description {
  text-transform: capitalize;
  color: #878787;
  font-size: 24px;
  font-weight: 300;
  line-height: 19px;
}

.icon-m {
  font-size: 24px;
  margin: auto 20px auto 20px;
  color: white;
  opacity: 0.9;
}

.humidity-title {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #878787;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.wind-title {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #878787;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #878787;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.humidity-unit {
  font-size: 24px;
  color: white;
  font-weight: 500;
  line-height: 34px;
}

.humidity-bg {
  background-color: #1d1d1e;
  border-radius: 5px;
  padding: 10px 0;
}

.wind-bg {
  background-color: #1d1d1e;
  border-radius: 5px;
  padding: 10px 0;
}

.wind-unit {
  font-size: 24px;
  color: white;
  font-weight: 500;
  line-height: 34px;
}

.overview {
  text-align: right;
  margin: auto;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  vertical-align: top;
}

.weather-temperature strong {
  color: white;
  font-size: 100px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  top: -54px;
  color: rgb(112, 117, 122);
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

/* FORECAST */

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  background-color: #1d1d1e;
  border-radius: 5px;
}

.weather-forecast-date {
  font-size: 16px;
  font-weight: 700;
  color: white;

  margin-top: 10px;
  margin-bottom: 30px;
}

.weather-forecast-temperatures {
  font-size: 32px;
  font-weight: 400;
}

.weather-forecast-temperature-max {
  color: white;
  opacity: 0.8;
  margin-right: 10px;
}

.weather-forecast-temperature-min {
  color: rgb(112, 117, 122);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-bg {
  background-color: #1d1d1e;
  color: rgb(112, 117, 122);
}

.text-link {
  color: #ff7a52;
}

.text-link:hover {
  color: #ff7a52;
  font-weight: 500;
}

.middle-section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.temperature-img {
  margin-top: 15px;
}
